 body {
    /*background-image: url("Media/flower.jpg");*/
    background-color: #062f4f;
    background-repeat: no-repeat;
    background-size: 100% 100%;
    background-attachment: fixed;
    background-position: 100% 100%;
    font-family: sans-serif, Tahoma;
    font-style: normal;
    margin: 0px;
    padding: 0;
 
}

.login{
    width: 320px;
    height: 420px;
    background: #062f4f;
    top: 50%;
    left: 50%;
    position: absolute;
    transform: translate(-50%,-50%);
    box-sizing: border-box;
    /*border: 2px solid #b82601;*/
    padding: 20px;
}
 .avatar{
    width: 100px;
    height: 100px;
    border-radius: 50%;
    position: absolute;
    top: -50px;
    left: calc(50% - 50px);
 }
 .login h1{
  text-align: center;
  font-size: 25px;

}

.login span{
    font-weight: bold; 
    color: black;
}
.login input{
    width: 100%;
    margin-bottom: 20px;
}


.login input[type=text], input[type=password] {
    /*width: 100%;*/
    height: 30px;
    background: transparent;
    color: white;
    margin: 8px 0;
    display: inline-block;
    outline: none;
    /*border: 1px solid #e25a0b;*/
    box-sizing: border-box;
    font-size: 14px; 
    padding-left: 6px;
}

.login button{
 border: none;
 border-radius:20px;
 height: 40px;
 width: 100%;
 color: #e25a0b;
 background: black;
 font-size: 18px;
} 

.login input[type="submit"]:hover{
    cursor: pointer;
    background: #d9d9d9;
    color: #006644;
}

.login a{
    font-size: 12px;
    color: #4080bf;
    line-height: 20px;
    text-decoration: none;
}
.login a:hover{
    color: #bf4060;
}

.heading {
    font-size: 30px;
    font-weight: bolder;
    background-color: black;
    padding-top: 20px;
    padding-bottom: 10px;
    color: white;
}
